@page "/pages/{id:long?}"
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@model IndexModel
<div class="m-2">
<h4 class="bg-primary text-white text-center p-2">Products</h4>
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model.Products)
        {
            <tr>
                <td>@prod.ProductId</td>
                <td>@prod.Name</td>
                <td>@prod.Price</td>
                <td>@prod.Category.Name</td>
                <td>
                    <a asp-page="Details" asp-route-id="@prod.ProductId"
                       class="btn btn-sm btn-info">Details</a>
                    <a asp-page="Edit" asp-route-id="@prod.ProductId"
                       class="btn btn-sm btn-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@prod.ProductId"
                       class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="Create" class="btn btn-primary">Create</a>
</div>

@functions{
    public class IndexModel : PageModel
    {
        private DataContext context;

        public IEnumerable<Product> Products { get; set; }

        public IndexModel(DataContext ctx)
        {
            context = ctx;
        }

        public void OnGet(long id = 1)
        {
            Products = context.Products.Include(p => p.Supplier).Include(p => p.Category);
        }
    }
}